{parameters
    int $status,
    string $text,
}

{var $title = $text}
{layout avacha.latte}

{block head}
    <style>
        body {
            height: 100dvh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    </style>
{/block}

{block body}
    <h1>{$status}</h1>
    <p>{$text}</p>
{/block}