{parameters
    string $message,
    string $file,
    string $trace,
    int $line,
}

{var $title = $message}
{layout avacha.latte}

{block body}
    <h1>{$message}</h1>
    <pre>{$trace}</pre>
    <hr>
    <pre>{$file} | Line #{$line}</pre>
{/block}